/* 040502 */
body {
	margin: 0;
}
 .beach{
	background-image: url('./tropical.png');
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
/* 040503 */
div {
	width: 100vw;
	height: 100vh;
	background-color: rgba(255,0,0,0.5);
}
