body{
	margin: 0;
}
.trees{
	background-image: url('forest.jpg');
	width: 100vw;
	height: 100vh;
	background-position: center;
}
.box1 {
	width: 20% auto;
	height: 20% auto;
	background-color: white;
	padding: 20px;
}
