/* 040401 */
/* .wrap {
	display: grid;
	grid-template-columns: 50% 50%;
}

/* 040402 */
/* .wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}  */
/* 040403 */
/* .wrap {
	display: grid;
	grid-template-columns: 1fr 4fr;
}
.sidebar {
	grid-column: 1/2;
}
.content {
	grid-column: 2/2;
} */
/* 040404 */
.wrap {
	display: grid;
	grid-template-columns: 1fr 6fr 2fr;
}
.sidebar {
	grid-column: 1/2;
}
.content {
	grid-column: 2/3;
}
.ads {
	grid-column: 3/3;
}
/* 040405 */
.column {
	display: grid;
	display grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	background-color: blue;
}
