/* 040401 */
  .wrap {
	display: grid;
	grid-template-columns: 50% 50%;
}

/* 040402 */
  .wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* 040404 */
 .wrap {
	display: grid;
	grid-template-columns: 1fr 6fr 2fr;
	height: 80px;
	background-color: yellow;
}
.sidebar {
	grid-column: 1/2;
}
.content {
	grid-column: 2/3;
}
.ads {
	grid-column: 3/3;
}
