/* 040202 */
p {
	color: red;
}
/* 040203 */
 .title {
	color: red;
}

/* 040204 */
h4.title {
	color: red;
}


/* 040205 */
 #main {
	 color: red;

/* 040206 */
div > span {
	color: red;
}

/* #040301 */
div {
  border-color: #ff0000;
}

/* #040302 */
div {
  border-color: #00ff00
}

/* 040303 */
div {
  border-color: rgba(0,0,0,0.5)
}

/* 040304 */
div {
  border-color: #ffa07a
}
