body{
	margin: 0;
}
  /* .trees{
	background-image: url('forest.jpg');
	width: 100vw;
	height: 100vh;
	background-position: center;
} */
 .box1 {
	width: 500px;
	height: 500px;
	background-image: url('forest.jpg');
	position: absolute;
	bottom: 20px;
	left: 20px;

}
.box2 {
	background-image: url('forest.jpg');
	background-position: center;
	width: 120px;
	position: absolute;
	bottom: 20px;
	top: 20px;
	left: 620px;


}
.box3 {
	background-image: url('forest.jpg');
	width: 600px;
	height: 120px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
