body{
	margin: 0;
}
   .trees{
	height: 100vh;
	background-position: center;
	background-repeat: repeat;
	position: relative; 
}
 .box1 {
	background-image: url('forest.jpg');
 	background-position: center;
	width: 500px;
	height: 500px;
	opacity: 100%;
	position: absolute;
	bottom: 20px;
	left: 20px;

}
.box2 {
	background-image: url('forest.jpg');
	background-position: center;
	width: 120px;
	position: absolute;
	bottom: 20px;
	top: 20px;
	left: 620px;


}
.box3 {
	background-image: url('forest.jpg');
	background-position: center;
	width: 600px;
	height: 120px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
